#wrapper, html, body {
	height: 100%;
}

img {
	max-width: 100%;
}

section{
	margin-bottom: 100px;
}

.ta-c{
	text-align: center;
}

.fl-l{
	float: left;
}

.fadeIn {
	animation-duration: 1s;
	animation-delay: .7s;
}

	.fadeIn.status {
		animation-duration: 1s;
		animation-delay: 2s;
	}

	.fadeIn.status.ng-leave {
		animation-duration: 0s;
		animation-delay: 0s;
	}


#about{
	margin: 0 auto;
}

	#about img{
		padding: 0 80px 40px 0;
	}

#QnA {
	position: relative;
}

md-content {
	white-space: pre-line;
}
