<div ng-init="Main.title='Font'" class="grid" id="ConvertFont" ng-controller="ConvertFontCtrl">
	<div class="col-1-1" ng-if="!deleted">

		<menu>
			<i ng-click="toggleNotify()" ng-class="{active:notify}" ng-show="supportNotify" class="notify"></i>
			<i ng-click="toggleSound()" ng-class="{active:sound}" ng-show="supportSound" class="sound"></i>
		</menu>

		<h2>{{active.name}}</h2>
		<p>Click on the extension that you want to convert the font to</p>

		<div class="container">
			<b>Convert To:</b> 
			<span ng-repeat="ext in active.$notConverted"><a href="#" ng-click="convert(ext)">{{ext}}</a> </span>
			<ul class="subContainer" ng-if="active.$inProgress.length">
				<li ng-repeat="ext in active.$inProgress">
					<progress value="{{ext.downloaded + ext.uploaded}}" max="2"></progress> {{ext.extension}} is {{ext.doing}}
				</li>
			</ul>
		</div>

		<div class="container">
			<b>Download:</b> 
			<span downloadify=""><a href="#" ng-click="download('default')">Original</a></span> 
			<span downloadify="" ng-repeat="ext in active.converted"><a href="#" ng-click="download(ext)">{{ext}}</a> </span>
		</div>

	</div>

	<div class="col-1-1" ng-if="deleted">
		<p>This font could not be found</p>
	</div>

</div>